.env
.env.*.local

node_modules/

frontend/dist/
frontend/dist-ssr/

backend/uploads/*
!backend/uploads/.gitkeep

backend/stripe.exe

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*